body {
  background: ivory;
  font-family: 'Droid Sans', sans-serif;
}
/* text styles */
.white-text-xlg {
  color: white;
  font-size: 5em;
  text-align: center;
}
.white-text-lg {
  color: white;
  font-size: 3.5em;
  text-align: center;
}
.white-text-md {
  color: white;
  font-size: 2.75em;
  text-align: center;
}
.white-text-sm {
  color: white;
  font-size: 1.25em;
  text-align: center;
}
.blue-text-lg {
  color: #6dc3ce;
  font-size: 3.5em;
  text-align: center;
}
.blue-text-md {
  color: #6dc3ce;
  font-size: 2.75em;
  text-align: center;
}
.blue-text-sm {
  color: #6dc3ce;
  font-size: 1.25em;
}
/* Header Section - menu buttons */

.title-div {
  width: 100%;
  height: 550px;
  background-color: #6dc3ce;
}
.title {
  margin-top: 10%;
}
.dot {
  font-size: .4em;
}
.menu-div {
  width: 100%;
  height: auto;
  background-color: #6dc3ce;
}
.menu-box {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 4px 4px 3px #848177;
  display: flex;
  margin-top: 65%;
  margin-bottom: 62%;
}
.menu-box-text {
  color: #6dc3ce;
  text-align: center;
  background-color: white;
  padding-top: 22px;
  padding-left: 12px;
}
.menu-box-text1 {
  color: #6dc3ce;
  text-align: center;
  background-color: white;
  padding-top: 22px;
  padding-left: 4px;
}
.menu-box-text2 {
  color: #6dc3ce;
  text-align: center;
  background-color: white;
  padding-top: 22px;
  padding-left: 15px;
}
.menu-box-text3 {
  color: #6dc3ce;
  text-align: center;
  background-color: white;
  padding-top: 22px;
  padding-left: 5px;
}
/* styling div for about me text */
.about-me {
  width: 100%;
  height: 550px;
}
.title-about-me {
  text-align: left;
  margin-top: 8%;
  margin-left: 8%;
  margin-bottom: 5%;
}
.text-about-me {
  padding-right: 15%;

}
/* Styling for pic and div dimensions*/
.me {
  width: 100%;
  height: 550px;
}
.pic {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  box-shadow: 4px 4px 3px #848177;
  margin-left: 20%;
  margin-top: 40%;
}
/* projects -div dimensions and background color */
.projects {
  background-color: #6dc3ce;
  width: 100%;
  height: auto;
  padding-top: 5%;
  margin-right: 3px;
}
/*projects - individual boxes */
.proj {
  color: #6dc3ce;
  background: white;
  font-size: 1.25em;
  text-align: center;
  border: 15px solid #6dc3ce;
  padding-top: 2%;
  margin-top: 3%;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 5%;
}
/* Portfolio individual styling */
.portfolio {
  width: 100%;
  height: auto;
  padding-top: 4%;
  padding-bottom: 5%;
  margin-top: 3%;
  box-sizing: border-box;
}
.portfolio1 {
  width: 100%;
  height: auto;
  padding-top: 15%;
  padding-bottom: 5%;
  box-sizing: border-box;
}
.portfolio2 {
  width: 100%;
  height: auto;
  padding-top: 1.5%;
  padding-bottom: 5%;
  margin-top: 1.15%;
  box-sizing: border-box;
}
/* Skills and Stack section */
.skills {
  margin-top: -20%;
}
/* contact-section */
.contact-title {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #6dc3ce;
}
/* social icons styling */
.social {
  width: 100%;
  height: 550px;
  background-color: #6dc3ce;
}
.icons {
  color: #6dc3ce;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: -3px 4px 4px #848177;
  display: flex;
  padding-left: 5px;
  padding-top: 3px;
  margin-top: 30%;
  margin-left: 50%;
}
/* contact form and text */
.contact-text-div {
  width: 100%;
  height: 550px;
  background-color: #6dc3ce;
}
.contact-text {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%;
}
