@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,800")

* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
  background-color: white;
  color: #190a0a;
  font-family: 'Raleway', sans-serif;
  line-height: 190%;
  text-align: center;
}
h1  {
    font-size: 190%;
    padding: 5% 0;
    text-align: center;
    color: #190a0a;
}
h3  {
    font-size: 190%;
    padding: 5% 0;
    color: #190a0a;
}
h4  {
    font-size: 170%;
    padding: 5% 0;
    color: #190a0a;
}
h5  {
    font-size: 120%;
    color: #959595;
}
img {
    max-width: 100%;
}
/* Header Section - menu buttons */
header  {
    background: #58c4c0;
    height: 150px;
    padding-top: 2%;
    position: fixed;
    z-index: 1000;
    width: 100%;
    opacity: .9;
    top: 0;
    left: 0;
}
#header-inner {
    max-width: 1200px;
    margin: 0 auto;
}
nav {
    float: right;
    width: 35%;
    padding: 35 25 0 0;
}
#menu-icon {
    background: url(img/icon.png) center;
    width: 40px;
    height: 34px;
    display: hidden;
}
ul  {
    list-style: none;
}
nav ul li {
    font-family: 'Raleway';
    display: inline-block;
    padding: 10px;
    float: left;
    font-size: 120%;
}
nav ul li a {
    color: #190a0a;
    text-decoration: none;
    font-weight: 400;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 5%;
}
a:hover, .current {
    text-decoration: underline;
}
.title  {
    width: 60%;
    height: auto;
    padding-bottom: 1%;
    margin-left: 5%;
}
.title-one {
    font-size: 450%;
    font-family: 'Raleway';
    color: #190a0a;
    text-align: left;
    float: left;
}
span  {
    font-size: 30%;
    font-family: 'Raleway';
    color: #190a0a;
}
.title-two  {
    font-size: 180%;
    font-family: 'Raleway';
    color: #190a0a;
    text-align: left;
    float: left;
}
/* end of navigation and header styling */

 /* Start inner wrapper */
 /* Start article/aside section */
 #inner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
 }
 /* About me and photo section */
aside {
    float: left;
    width: 35%;
    padding: 2%;
}
aside h3 {
    text-decoration: underline;
}
.circle-image {
    margin-top: 60%;
    border-radius: 70%;
}
#about {
    margin-top: -8%;
}
.about-text {
    margin-top: -3%;
    color: #190a0a;
}
article {
    float: right;
    width: 45%;
    padding: 4%;
    margin-top: 22%;
}

/* Skills and Experience section */
.circle {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: #7eddd9;
    border-radius: 50%;
}
.one-third {
    width: 29%;
    float: left;
    margin: 2%;
}
.one-third i {
  	color: #f0f0f0;
    opacity: .9;
  	font-size: 350%;
  	padding: 20%;
}
.one-third img {
	  padding-bottom: 2%;
}
p  {
  	font-family: 'Raleway', sans-serif;
    color: #190a0a;
  	text-align: justify;
  	text-transform: none;
  	font-size: 125%;
    padding: 2%;
}
/* Projects section */
.clearfix {
    clear: both;
    padding: 2%;
}
.background {
    border: 2px solid #d1caca;
}

/* beginning footer section */
footer {
  	background: #333;
  	overflow: hidden;
    opacity: .9;
}
#footer-inner {
  	max-width: 1200px;
  	margin: 0 auto;
}
footer .one-third {
  	width: 33%;
  	margin: 2% 0;
}
footer h3 {
	  color: #d1caca;
    text-align: center;

}
footer p {
  	color: #d1caca;
  	text-align: center;
}
#footer-third {
  	border-right: 2px solid #d1caca;
  	max-height: 250px;
  	min-height: 250px;
}
footer a {
  	color: #d1caca;
  	text-decoration: none;
}
.social li {
	  display: inline;
}
.social i {
  	font-size: 350%;
  	color: #d1caca;
    padding: 2% 6%;
}
.social i:hover {
	  color: #7eddd9;
}
h5 a:hover {
  	text-decoration: none;
  	color: #7eddd9;
}
/* footer second start */

.second {
    font-size: 12px;
  	border-top: 2px solid #a09090;
  	max-height: 60px;
    padding-bottom: 4%;
    padding-top: -3%;
    opacity: .6;
}
/* Media Queries start */

@media screen and (max-width: 768px) {
		header {
			position: absolute;
      width: 100%;
		}
		#menu-icon {
			display: inline-block;
		}
		nav:hover ul {
			display: block;
		}
		nav ul, nav:active ul {
			display: none;
			z-index: 1000;
			position: absolute;
			background-color: #7eddd9;
			width: 50%;
			padding: 20px;
			right: 20px;
			top: 60px;
			border: 1px solid #fff;
			border-radius: 4px 0 4px 4px;
		}
    nav li {
			text-align: center;
			width: 100%;
		}
		.one-third {
			width: 100%;
			margin: 0;
		}
		.circle {
			width: 100px;
			height: 100px;
		}
		.one-third i {
			font-size: 360%;
		}
		article	{
			width: 100%;
			padding: 0;
			margin: 0;
		}
		aside {
			width: 100%;
		}
		h4	{
			font-size: 140%;
		}
		footer .one-third {
			width: 100%;
			margin: 0;
		}
		.social i {
			font-size: 245%;
		}
		#footer-third {
			min-height: 150px;
			padding: 10%;
			border-bottom: 1px solid #959595;
		}
		#footer-third-last {
			margin-bottom: 20%;
		}
}
@media screen and (max-width: 478px) {

		h3 {
			font-size: 150%;
		}
		p  {
			font-size: 100%;
			margin: 25;
		}
		h4	{
			font-size: 115%;
		}
    .title-one {
        font-size: 300%;
        line-height: 125%;
        width: 100%;
    }
    .title-two {
        display: none;
    }
    span  {
        display: none;
    }
}
